src/main/app/bc-ingest-notification.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.8.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="bc-ingest-notification">
		<http:listener config-ref="http_metadata_inbound_listener" path="${boxtv_metadata_app.bc.notification}/*" doc:name="HTTP"/>        
        
        <choice doc:name="Choice">
	         <when expression="#[message.inboundProperties['http.method'] == 'OPTIONS']">
	         	<transformer ref="doNothingTransformer"/>         	
	  		 </when>
	    	<otherwise>
	        	<http:basic-security-filter realm="mule-realm"/>
	        	<transformer ref="bcNotification" doc:name="BC Video Ingest Notification"/>    	
	        </otherwise>
	    </choice>
        
        
        
</flow>

</mule>
