src/main/app/c4-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


 <flow name="c4-ingegration">
          <http:listener config-ref="http_metadata_inbound_listener" path="${boxtv_metadata_app.ingest.metadata}" doc:name="Received the request"/>
                
          <http:request config-ref="http_schedule_service" path="${boxtv_metadata_app.http.path}${c4.schedule.path}?#[header:inbound:http.query.string?]" method="GET" doc:name="Request the schedule from c4"/>
                
                      
        	<object-to-string-transformer doc:name="Load the schedule into the memory"/>
        
        <transactional action="ALWAYS_BEGIN" doc:name="Transactional">
            <custom-transformer class="uk.co.boxnetwork.mule.transformers.ProcessScheduleTransformer" doc:name="Save the schedule into the database"/>
                                
            
            
        </transactional>
        <response>
            <message-properties-transformer doc:name="Set the response">
                <add-message-property key="Content-Type" value="application/json"/>
            </message-properties-transformer>
        </response>
        
         		
    </flow>



</mule>
