src/main/app/mock-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

   
    <flow name="mock-schedule-service">
          <http:listener config-ref="HTTP_Listener_Configuration" path="${c4.schedule.path}" doc:name="HTTP"/>
                <choice doc:name="Choice">
          <when expression="#[message.inboundProperties['http.method'].equals('POST')]">
             <processor-chain doc:name="Processor Chain">                    
                        <logger message="post is received" level="INFO" doc:name="Logger"/>                             
             </processor-chain>
          </when>
            <otherwise>
                <processor-chain doc:name="Processor Chain">
                    
                   
                         <logger message="get is received" level="INFO" doc:name="Logger"/>
                   
                </processor-chain>
            </otherwise>
         
        </choice>
        
        
        
        
        <component doc:name="Build defualt response">
			                   <spring-object bean="loadSchedule"/> 
			                </component>
                                <object-to-string-transformer doc:name="Object to String"/>
        <response>
            <message-properties-transformer doc:name="Message Properties">
                <add-message-property key="Content-Type" value="application/xml"/>
            </message-properties-transformer>
        </response>
         		
    </flow>
    
    
    
    
    
    
    <flow name="mock-certification-service">
        <http:listener config-ref="HTTP_Listener_Configuration" path="${c4.certification.path}" doc:name="HTTP"/>
                <choice doc:name="Choice">
          <when expression="#[message.inboundProperties['http.method'].equals('POST')]">
             <processor-chain doc:name="Processor Chain">
                    
                        <logger message="post is received" level="INFO" doc:name="Logger"/>
              
               
             </processor-chain>
          </when>
            <otherwise>
                <processor-chain doc:name="Processor Chain">
                    
                   
                         <logger message="get is received" level="INFO" doc:name="Logger"/>
                   
                </processor-chain>
            </otherwise>
         
        </choice>
        
        
        
        
        <component doc:name="Build defualt response">
			                   <spring-object bean="loadCertification"/> 
			                </component>
                                <object-to-string-transformer doc:name="Object to String"/>
        <response>
            <message-properties-transformer doc:name="Message Properties">
                <add-message-property key="Content-Type" value="application/xml"/>
            </message-properties-transformer>
        </response>
                                
                                
        <logger message="message:#[payload]" level="INFO" doc:name="Logger"/>
         		
    </flow>
    
    

</mule>
