src/main/app/mock-c4-certification.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule  xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
    
    
      
    <flow name="mock-c4-certification">
        <http:listener config-ref="http_metadata_inbound_listener" path="${mock.c4.certification}" doc:name="HTTP"/>
        <transformer ref="mockCertification" />
        <logger message="#[payload.class.toString()]" level="INFO" doc:name="Logger"/>        
      
         		
    </flow>
</mule>
