src/main/app/polling-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="polling-serviceFlow">
         <quartz:inbound-endpoint jobName="eventTimer" doc:name="Quartz" 
        cronExpression="0 0/1 * * * ?">
            <quartz:event-generator-job>
                <quartz:payload>timed task</quartz:payload>
            </quartz:event-generator-job>
        </quartz:inbound-endpoint>        
        <transformer ref="checkTimedTask" doc:name="Transformer Reference"/>     
                
        <choice doc:name="Choice">        
        <when expression="#[payload is String]">
            <logger level="INFO" message="the type is string from checkTimedTask " doc:name="Logger"/>
        </when>
        <when expression="#[payload is uk.co.boxnetwork.model.MediaCommand]">
            <logger level="INFO" message="the type is mediacommand from checkTimedTask, ****Delivering to the vmqueue" doc:name="Logger"/>
                <vm:outbound-endpoint exchange-pattern="one-way"  doc:name="VM queue for delivering the soundmouse header file" path="soundmouse.deliver.header"/>
        </when>
        
        <otherwise> 
            <logger message="class doesnt match any types" level="INFO" doc:name="Logger"/>  
        </otherwise>  
    </choice>
        
           
        
    </flow>
    <flow name="onStartedFlow">
    	<quartz:inbound-endpoint jobName="startup" doc:name="Quartz" repeatInterval="1000" repeatCount="1">
    	 	<quartz:event-generator-job>
                <quartz:payload>started</quartz:payload>
            </quartz:event-generator-job>
    	</quartz:inbound-endpoint>
        <logger message="Box Media app started." level="INFO" doc:name="Logger"/>
        <transformer ref="onAppStartdTransformer" doc:name="Transformer Reference"/>
    	
    
    </flow>
    
    
    
</mule>
