src/main/app/programme-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd


http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="programme-service">    
       <http:listener config-ref="http_metadata_inbound_listener" path="${boxtv_metadata_app.programe}" doc:name="HTTP"/>
        
        <choice doc:name="Choice">
	         <when expression="#[message.inboundProperties['http.method'] == 'OPTIONS']">
	         	<transformer ref="doNothingTransformer"/>         	
	  		 </when>
	    	<otherwise>
	        	<http:basic-security-filter realm="mule-realm"/>
	        	 <component doc:name="Programme">
         	 		<spring-object bean="programmeComponent"/>
        		</component>    	
	        </otherwise>
	    </choice>
        
        
        
        
         
        
      
          
        
        
        
           
    
    </flow>




</mule>
