src/main/app/pull-data-from-schedule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


 <flow name="pull-data-from-schedule">
          <http:listener config-ref="http_metadata_inbound_listener" path="${boxtv_metadata_app.ingest.metadata}" doc:name="HTTP"/>
                
          <http:request config-ref="http_schedule_service" path="${boxtv_metadata_app.http.path}${c4.schedule.path}?#[header:inbound:http.query.string?]" method="GET" doc:name="NEW HTTP Connector"/>
        <logger message="*****invoked the schedule servoce ****" level="INFO" doc:name="Logger"/>        
                      
        	<object-to-string-transformer doc:name="Object to String"/>
        <logger message="*****Tryying read from the memmory*****" level="INFO" doc:name="Logger"/>
        <transactional action="ALWAYS_BEGIN" doc:name="Transactional">
            <custom-transformer class="uk.co.boxnetwork.mule.transformers.ProcessScheduleTransformer" doc:name="Input Parameters are valid"/>
                                
            
            
        </transactional>
        <response>
            <message-properties-transformer doc:name="Message Properties">
                <add-message-property key="Content-Type" value="application/xml"/>
            </message-properties-transformer>
        </response>
        <logger message="****database access successful********" level="INFO" doc:name="Logger"/>
         		
    </flow>



</mule>
