src/main/app/s3-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule  xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
    
    <http:listener-config name="HTTP_Listener_Configuration" host="${http.binding.host}" port="${http.binding.port}" basePath="${boxtv_metadata_app.http.path}" doc:name="HTTP Listener Configuration"/>
      
    <flow name="mule-configFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="${boxtv_metadata_app.s3.path}" doc:name="HTTP"/>
        <custom-transformer class="com.iterativesolution.s3.S3ListObjectToJSon" doc:name="Custom"/>
        <logger message="#[payload.class.toString()]" level="INFO" doc:name="Logger"/>
        
         		
    </flow>
</mule>
